.sub-deal-main h2{
    color: gray;
    margin-top: 50px;
    
    }
    .sub-deal-main{
        display: flex;
        justify-content: space-between;
        
    }
     .daal-right-part{
        padding-right: 30px;
    } 
    .daal-left-part{
        padding-left: 30px;
        padding-bottom: 20px;
    } 
    